<style>
    div {
        width: 100%;
        height: 100%;
    }
</style>

<div>
    <h1>Hey, {{name}}!</h1>
    <h3>You have sent a request for reset password.</h3>
    <h3>You can do it by entering this 6-digit code: <b>{{code}}</b></h3>
    <h4>If it's not you, please ignore this email.</h4>
    <h6>This code will be expired in 15 mins.</h6>
</div>